.button_blue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    border-radius: 60px;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    line-height: 26px;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 10, 255, 1);
    background: rgba(0, 10, 255, 1);
    transition: 0.5s;
}
.button_blue:hover{
    background-color: rgba(255,255, 255, 0);
    color: rgba(0, 10, 255, 1);

}
.button_white {
    display: flex;
    background-color: rgba(255,255, 255, 0);
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    border-radius: 60px;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    line-height: 26px;
    color: rgba(0, 10, 255, 1);
    border: 1px solid rgba(0, 10, 255, 1);
    transition: 0.5s;
}
.button_white:hover{
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 10, 255, 1);
}