.input{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgba(22, 22, 22, 1);
    font-family: Manrope,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    padding: 15px 20px;
    color: rgba(173, 173, 173, 1)

}