.cart{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart__img{
    width: 372px;
    height: 372px;
    border-radius: 20px;
}
.cart__name{

}
.cart__button{

}
.cart_price{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 372px;
    border-radius: 20px;
    border: 1px solid rgba(210, 212, 252, 1);
    background: rgba(243, 244, 255, 1);
    padding: 30px 35px;
}
.cart_price__info{
    font-family: Manrope,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
}
.cart_price__price h2{
    color: rgba(0, 10, 255, 1);
;
}
