*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Manrope,sans-serif;

}
body{
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(22, 22, 22, 1);
}

h1{
    font-family: Fira Sans,sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    color: rgba(22, 22, 22, 1);
}
h2{
    font-family: Fira Sans,sans-serif;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    color: rgba(22, 22, 22, 1);
}
h3{
    font-family: Fira Sans,sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 35px;
    color: rgba(22, 22, 22, 1);


}
h4{
    font-family: Fira Sans,sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    color: rgba(22, 22, 22, 1);

}
a{
    text-decoration: none;
    color: rgba(22, 22, 22, 1);
}
li{
    list-style-type: none;
}
.container{
    margin: auto;
    max-width: 1158px;
}
.header__logo {
    width:145px;
    height: 25px;
}

.header{
    padding: 30px 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 82px;
}

.header__menu{
    align-items: center;
    border-radius: 15px;
    background: rgba(243, 244, 255, 1);
    padding: 12px 25px 12px 25px;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
}
.header__menu a:hover{
    border-bottom: 5px dotted rgba(0, 10, 255, 1);;
    border-bottom-width: initial;
}
.header__menu ul {
    display: flex;
    gap: 30px;
}


.possibilities{
    padding-top: 108px;
    text-align: center;

}
.possibilities__title{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
    max-width: 800px;
}
.possibilities__text{
    margin: auto;


}
.possibilities__text p{
    padding-top: 25px;
    padding-bottom: 25px;
}
.possibilities__button{
    display: flex;
    justify-content: center;

}
.possibilities__contend{
    margin-top: 45px;
    background: url("./img/video.png") center  no-repeat ;
    background-size: cover;
    width: 1158px;
    height: 560px;
    border-radius: 20px;
}
.girl{
    padding-top: 150px;
}
.girl__title{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 684px;
}
.girl__cart_1{
    display: flex;
    align-items: center;
    margin-top: 40px;
    height: 460px;
    background: url("./img/girl_1.png") rgba(243, 244, 255, 1) no-repeat right top 2px;
    border: 1px solid rgba(210, 212, 252, 1);
    border-radius: 20px;
}
.girl__cart_1__content{
    padding-left: 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
}

.girl__cart_2{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    margin-top: 20px;
    height: 460px;
    background: url("./img/girl_2.png") rgba(243, 244, 255, 1) no-repeat left top 2px;
    border: 1px solid rgba(210, 212, 252, 1);
    border-radius: 20px;
}
.girl__cart_2__content{
    padding-right: 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 420px;

}
.for_whom{
    padding-top: 149px;
}
.for_whom__title{
    text-align: center;

}
.for_whom__cart{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 35px;
}
.price{
    padding-top: 150px;
}
.price__title{
    text-align: center;
}
.price__content{
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;

}
.show{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 132px;
    height: 432px;
    text-align: center;
    align-items: center;
    background:
            url("./img/stars_1.png") no-repeat 88% 14%,
            url("./img/stars_2.png") no-repeat 12.5% 84%,
            url("./img/background.png");

    border: 1px solid rgba(210, 211, 252, 1);
    border-radius: 20px;
}
.show__title{
    width: 700px;
}
.footer{
    padding-top: 150px;
}
.footer a{
     color: rgba(255, 255, 255, 1);
}
.footer__stripes img{
    width: 100%;
    height: 255px;
}

.footer__content{
    padding: 30px 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 10, 255, 1);
}
.footer__menu{
    align-items: center;
    padding: 12px 25px 12px 25px;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;


}
.footer__menu ul {
    display: flex;
    gap: 30px;

}
.footer__end ul{
    display: flex;
    justify-content: center;
    gap: 30px
}
.footer__end{
    padding-top: 50px;
    padding-bottom: 40px;
    background: rgba(0, 10, 255, 1);
}
.footer__end a{
    color: rgba(255, 255, 255, 1);
}
.footer__info_email{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer__info_phone{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer__info{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}