*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Manrope,sans-serif;

}
body{
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(22, 22, 22, 1);
}

h1{
    font-family: Fira Sans,sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    color: rgba(22, 22, 22, 1);
}
h2{
    font-family: Fira Sans,sans-serif;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}
a{
    text-decoration: none;
    color: rgba(22, 22, 22, 1);
}
li{
    list-style-type: none;
}
.container{
    margin: auto;
    max-width: 1158px;
}
.header__logo {
    width:145px;
    height: 25px;
}

.header{
    padding: 30px 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 82px;
}

.header__menu{
    align-items: center;
    border-radius: 15px;
    background: rgba(243, 244, 255, 1);
    padding: 12px 25px 12px 25px;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
}
.header__menu ul {
    display: flex;
    gap: 30px;
}


.possibilities{
    padding-top: 108px;
    text-align: center;

}
.possibilities__title{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
    max-width: 800px;
}
.possibilities__text{
    margin: auto;


}
.possibilities__text p{
    padding-top: 25px;
    padding-bottom: 25px;
}
.possibilities__button{
    display: flex;
    justify-content: center;

}
.possibilities__img{
    padding-top: 45px;
}
.girl{
    padding-top: 144px;

}
.girl__title{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    width: 684px;
}
.girl__cart_1{
    display: flex;
    margin-top: 40px;
    height: 460px;
    background: rgba(243, 244, 255, 1);
    border: 1px solid rgba(210, 212, 252, 1);
    border-radius: 20px;
}
.girl__cart_2{
    display: flex;
    margin-top: 20px;
    height: 460px;
    background: rgba(243, 244, 255, 1);
    border: 1px solid rgba(210, 212, 252, 1);
    border-radius: 20px;
}
.for_whom{
    padding-top: 149px;
}
.for_whom__title{
    text-align: center;

}
.for_whom__cart{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.price{
    padding-top: 150px;
}
.price__title{
    text-align: center;
}
.show{
    padding-top: 150px;
    height: 432px;
    text-align: center;
    align-items: center;
}
.footer{
    padding-top: 150px;
}
.footer__stripes img{
    width: 100%;
    height: 255px;
}
.footer__end ul{
    display: flex;
    justify-content: center;
}